<!-- Dropdown for category selection (optional) -->
<div class="container category-dropdown mt-4">
    <h3 class="text-center mb-4 fw-bold">{{ 'products.chooseTypeOfPlace' | translate }}</h3>
    <select class="form-select" aria-label="Category select" (change)="filterCategories($event)">
        <option value="-1" selected>{{ 'products.all' | translate }}</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ getCategoryName(category) }}</option>
    </select>
</div>

<!-- Product Cards -->
<div class="container mt-5">
    <div class="row" *ngIf="!loading">
        <div class="col-md-6 col-lg-4 mb-4" *ngFor="let product of products; let i = index">
            <div class="card product-card h-100" [class.show]="showProducts[i]">
                <img [src]="product.photos[0]" class="card-img-top img-fluid">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ getProductName(product) }}</h5>
                    <p class="card-text"><strong>{{ 'products.price' | translate }}:</strong> {{ product.price }} <span>{{'general.PriceSign'|translate}}</span></p>
                    <button class="btn details-btn mt-auto" routerLink="/details/{{product.id}}">{{ 'products.viewDetails' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Show Spinner Only When "loading" is True -->
<div class="text-center mt-3" *ngIf="loading">
    <app-spinner></app-spinner>
</div>